html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body,
ul,
ol{
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
}

button {
  outline: none;
}

a {
  display: inline-block;
  color: unset;
  text-decoration: unset;
}